<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="vendor/autoload.php">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/*Bundle/Resources</directory>
            <directory>src/*/*Bundle/Resources</directory>
            <directory>src/*/Bundle/*Bundle/Resources</directory>
            <directory>src/Form</directory>
            <directory>src/DataFixtures</directory>
            <file>src/Kernel.php</file>
        </exclude>
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="true"/>
        <server name="KERNEL_DIR" value="/Applications/MAMP/htdocs/P8-TodoList/src/"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="07a8abddd8e2f10c901d3adceb1c2c34"/>
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <!-- DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- DATABASE_URL="mysql://root:root@127.0.0.1:8889/todolist?serverVersion=5.7"-->
        <env name="DATABASE_URL" value="mysql://root:root@127.0.0.1:8889/todolist?serverVersion=5.7"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\CoverageListener"/>
    </listeners>
    <logging/>
</phpunit>
