.navbar-light {
		background-color: #e3f2fd;
}

.navbar-header {
		display: flex;
		width: 100%;
}

.task-list-btn {
		margin-bottom: 1em;
}

.task {
		margin-bottom: 1em;
}

.alert {
		margin: 1em 0;
}

.buttons-top {
		margin: 1em 0;
}